  *{
    font-family: "Proxima Nova";
  }
  .logo {
    height:33.5mm;
    width:100mm; 
    padding-top:5mm; 
    padding-bottom:0mm;
  }
  
  .page {
    border: 5px solid #d3d3d3;
    background-color:white;
    border-bottom: 20px solid #EFC219; 
  }
  
  .div {
    display: inline-block;
  }
 
  .name {
    font-size: 10px;
    font-family: inherit;
    color: #333333;
  }
  
  .nickname {
    font-size: 11px;
    font-style: italic;
    font-family: inherit;
    color: #333333;
  }
  .heading{
    font-family: "Proxima Nova";
    text-align: center;
    letter-spacing: 3pt;
    font-weight:bold;
    color: #8CC541;
    font-size: 40px;
  }
  .subheading{
    font-family: "Proxima Nova";
    font-size: 20px;
    letter-spacing: 3pt;
    font-weight: thin;
    line-height: 0;
    color:#8CC541;
  }
  .subheading.faculty, .heading.faculty{
    color:#4290c7;
  }