.page{
  margin:0.5in;
}
body{
  width:8.5in;
  /* border:1px solid red; */
  margin-left:auto;
  margin-right:auto;
}

/* DEBUG */
/* 
.page{background-color:red;}
.person{background-color:orange;}
.name{background-color:yellow;}
.nickname{background-color:green;}
.portrait-img{background-color:blue;} 
.heading{background-color:purple;}
.subheading{background-color:pink;} 
.quote{background-color:lightgreen;}
.senior{background-color:lightblue;}
.faculty{background-color:gray;} */
