/* All pages */
body {
  background-color: white;
}
.logo{
  margin-top:30px;
  margin-bottom: 20px;
}

.page {
  width: 7.5in;
  height: 10in;
  text-align: center;
}

.div {
  display: inline-block;
}

.person {
  display: inline-block;
  margin: 0px 8px 15px 8px;
  vertical-align:top;
}

.portrait-img {
  width: 1in;
  height: 1.4in;
  display: inline-block;
}

.name {
  text-align: center;
  margin-bottom: 3px;
  width:100%; 
  word-wrap: normal;
}

.nickname {
  text-align: center;
  height:10px;
}

.subheading {
  margin-bottom: 45px;
}

/* Faculty Page */
.faculty .portrait-img {
  height: 1in;
  width: 0.785in;
}

.person.faculty {
  display: inline-block;
  margin: 0px 3px 5px 3px;
  vertical-align:top;
}
#not-pictured div{
  font-size:10px;
}
/* Senior Pages */

.senior{
    /*background-color:orange;*/
  height:calc(1.4in + 40px);
  width:2.1in;
  vertical-align:top;
  margin-left: 0.13in;
  margin-right: 0.13in;
  margin-bottom: 0.25in;
}
.senior .name{
  font-size:14pt;
}

.quote{
  font-size:11pt;
  float: right;
  width: calc(1in - 6px);
  padding: 2px 3px;
  height: 1.35in;
  display: table-cell;
  vertical-align: middle;
}